# Default owners for the repository
*       @Veer-kaizen

# Platform, Infrastructure & Security
/infra/                   @CloudTelemetry-Team/platform-and-sec
/k8s/                     @CloudTelemetry-Team/platform-and-sec
/.github/                 @CloudTelemetry-Team/platform-and-sec

# Frontend Assets
/frontend/                @CloudTelemetry-Team/frontend

# Core API, Analytics, and Testing
/backend/                 @CloudTelemetry-Team/core-backend
/tests/                   @CloudTelemetry-Team/core-backend
